[data-css='sidebar-logo'] {
  text-align: left !important;
  display: inline !important;
  padding: 20px 40px 5px !important;
}

[data-css='sidebar-back-button'] {
  color: rgba(0, 0, 0, 0.8) !important;
  text-decoration: none !important;
  margin-bottom: 5px;
  padding-left: 40px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

[data-css='sidebar-back-button'] span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 2px;
  margin-right: 6px;
  color: rgba(0, 0, 0, 0.8) !important;
  text-decoration: none !important;
}

[data-css='sidebar-back-button']:hover {
  cursor: pointer;
}

.adminjs_MenuBarWrapper span:nth-child(1) {
  display: none !important;
}
